<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-background">

    <ion-back-button class="btn-back" text="" defaultHref="/splash" (click)="onBackButton()"></ion-back-button>

    <div class="logo-section">
      <div class="logo-wrapper">
        <img src="assets/icon/logo-app.svg" alt="Logo Vaga TA" class="logo-img">
      </div>
      <h1 class="login-title">Acesso Livre</h1>
    </div>

    <div class="form-section">
      <ion-input
        class="login-input"
        type="text"
        fill="outline"
        label="Usuário"
        labelPlacement="floating"
        aria-label="Usuário">
      </ion-input>

      <ion-input
        class="login-input"
        type="password"
        fill="outline"
        label="Senha"
        labelPlacement="floating"
        aria-label="Senha">
      </ion-input>

      <ion-button class="btn-logar" expand="block" aria-label="Entrar" (click)="toLogin()">
        Entrar
      </ion-button>

      <ion-button class="btn-forgot" fill="clear" aria-label="Esqueci minha senha" (click)="toForgotPassword()" slot="end">
        Esqueci minha senha
      </ion-button>

      <ion-button class="btn-forgot" fill="clear" aria-label="Novo usuário? Cadastre-se aqui!" (click)="toRegister()" slot="end">
        Novo usuário? Cadastre-se aqui!
      </ion-button>
    </div>

  </div>
</ion-content>
